---
import config from "bikedisco-theme:config";
// TODO: figure out how to use config if Astro.props is empty (frontmatter returns undefined thus below works, but props should take precedence over config)
// const { title, description, body_class } = Astro.props.frontmatter || Astro.props || config;
const { title, description, body_class } = Astro.props || config;

// console.log("## Astro.props.frontmatter: ##")
// console.log(Astro.props.frontmatter)
// console.log("## Astro.props: ##")
// console.log(Astro.props)
// console.log("## config: ##")
// console.log(config)

// console.log("## Astro: ##")
// console.log(Astro)
// console.log("## Astro.params: ##")
// console.log(Astro.params)
// console.log("## Astro.response: ##")
// console.log(Astro.response)
// console.log("## Astro.self: ##")
// console.log(Astro.self)

import "bikedisco-theme:styles";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link href="/humans.txt" rel="author" />
		<title>{title}</title>
	</head>
	<body class={body_class}>
		<slot />
	</body>
</html>
