---
import { BaseLayout } from "bikedisco-theme:layouts";
import { Footer, Header } from "bikedisco-theme:components";

const { title, description, body_class } = Astro.props.frontmatter || Astro.props;
const { feedback } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title} description={description} body_class={body_class} frontmatter={Astro.props.frontmatter}>
	<Header />
	<main>
		<slot />
	</main>
	<Footer feedback={feedback} />
</BaseLayout>
