---
import config from "bikedisco-theme:config";
const feedback = config.feedback;
// const { feedback } = Astro.props.frontmatter || Astro.props;
// const { feedback } = Astro.props.frontmatter || Astro.props || config;
---

<footer>
	<p>Have suggestions on how to make the ride <em>more</em> fun? <a class="feedback" href={feedback}><strong>Let us know</strong>!</a></p>
	<a href="https://gitlab.com/altsalt/seattle.bikedis.co">&#127341; &#127343; &#127246; 2024</a>
</footer>

<style>
	footer {
		flex: 1;
		padding: 0;
		margin: 0 auto;
		/*	@include fluid(margin-top, --base-line-height-min,
																		--base-line-height-max);
				@include fluid(margin-bottom, --base-line-height-min,
																			--base-line-height-max); */
		margin-top: var(--base-line-height);
		margin-bottom: var(--base-line-height);

		text-align: center;
		/*	@include fluid(font-size, --min-font * 0.5, --max-font * 0.5);
				@include fluid(letter-spacing, --min-font * 0.05, --max-font * 0.05); */
		font-size: calc(var(--base-font-size) * 0.75);
		letter-spacing: calc(var(--base-font-size) * 0.05);

		a {
			&:link, &:visited {
				color: var(--light-text);
			}
			&:hover, &:active {
				color: var(--dark-text);
			}
		}
	}
</style>
