---
import { Image } from "astro:assets";
import { BikeDisco } from "bikedisco-theme:assets";

// function navColor() {
//   const navLength = 4;

//   const SBDdarkcolors = ["SBDdarkblue", "SBDdarkteal", "SBDdarkpink", "SBDdarkpurple", "SBDdarkorange", "SBDdarkyellow"];
//   const SBDlightcolors = ["SBDlightblue", "SBDlightteal", "SBDlightpink", "SBDlightpurple", "SBDlightorange", "SBDlightyellow"];
//   const SBDcolors = ["SBDdarkblue", "SBDdarkteal", "SBDdarkpink", "SBDdarkpurple", "SBDdarkorange", "SBDdarkyellow", "SBDlightblue", "SBDlightteal", "SBDlightpink", "SBDlightpurple", "SBDlightorange", "SBDlightyellow"];

//   for (let i = 0; i < navLength; i++) {
//     const randomKey = Math.floor(Math.random() * navLength);
//     const randomColor = SBDlightcolors[randomKey];
//   }
// }
// navColor();
/*
li {
	--navLength: 4;

	@for --i from 1 through --navLength {
		--randomKey: random(length(--SBD-light-colors));
		--randomColor: nth(--SBD-light-colors, --randomKey);

		&.nav-#{--i} a {
			background-color: --randomColor;

			&:hover {
				background-color: darken(--randomColor, --contrast);
			}
		}
	}
}
*/
---

<header>
	{Astro.url.pathname != "/" && <a href="/"><Image class="header-logo" src={BikeDisco} alt="Bike Disco" /></a>}

	<nav>
		<ul>
			<li class="nav-1"><a href="/about/">About</a></li>
			<li class="nav-2"><a href="/gallery/">Gallery</a></li>
			<li class="nav-3"><a href="/how-to-disco/">How to Disco</a></li>
			<li class="nav-4"><a href="/merchandise/">Merchandise</a></li>
		</ul>
	</nav>
</header>

<style>
	header {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		/*	@include fluid(margin-top, --base-line-height-min * 1.5,
																		--base-line-height-max * 1.5);
				@include fluid(margin-bottom, --base-line-height-min,
																			--base-line-height-max); */
		margin-top: calc(var(--base-line-height) * 1.5);
		margin-bottom: var(--base-line-height);

		.header-logo {
			height: 5em;
			width: 5em;
			/*	@include fluid(margin-bottom, --base-line-height-min,
																				--base-line-height-max); */
			margin-bottom: var(--base-line-height);
		}

		nav {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0em;
			text-align: center;

			ul {
				display: flex;

				@media (max-width: 600px /* min-screen */) {
					flex-direction: column;
					li {
						margin-bottom: 2.5em;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				list-style: none;
				padding: 0;

				li {
					margin-left: 1em;
					margin-right: 1em;
					white-space: nowrap;

					a {
						padding: 1em;
						border-radius: 5px;
						text-decoration: none;
						font-weight: bold;
						color: #fff;

						.nav-1 & {
							background-color: var(--bd-lightyellow);
							&:hover {
								background-color: var(--bd-darkyellow);
							}
						}
						.nav-2 & {
							background-color: var(--bd-lightorange);
							&:hover {
								background-color: var(--bd-darkorange);
							}
						}
						.nav-3 & {
							background-color: var(--bd-lightpink);
							&:hover {
								background-color: var(--bd-darkpink);
							}
						}
						.nav-4 & {
							background-color: var(--bd-lightteal);
							&:hover {
								background-color: var(--bd-darkteal);
							}
						}

						&:active {
						}
					}
				}
			}
		}
	}
</style>
