---
interface Props {
	count: number;
	order?: string;
	rides: Array<{ number: string; date: string; url: string; image: any }>;
}
const { count, order = "desc", rides } = Astro.props;

import { Image } from "astro:assets";
---

<ul class="upcoming-rides">
	{rides.map((ride) => (
		<li>
			<a href={ride.url} target="_blank">
				<Image src={ride.image} alt={`Seattle Bike Disco ${ride.number} is on ${ride.date}`} title={`Seattle Bike Disco ${ride.number} is on ${ride.date}`} />
				<p class="hover-text">{ride.date}</p>
			</a>
		</li>
	))}
</ul>

<style>
	ul.upcoming-rides {
		display: flex;

		list-style: none;
		padding: 0;

		li {
			margin-left: 1em;
			margin-right: 1em;
			position: relative;

			&.ridden {
				filter: opacity(30%);
			}
			&:last-child {
			}

			a {
				img {
					height: 10em;
					width: 10em;
				}

				&:active {
					color: #fff;
				}

				.hover-text {
					height: 10em;
					width: 10em;
					position: absolute;
					top: 0;
					left: 0;
					background: #000;
					opacity: 0;
					margin: 0;
					padding: 0;
					line-height: 10em;
					text-align: center;
					color: var(--light-text);
					font-weight: bold;
				}
				&:hover .hover-text {
					opacity: 80%;
				}
			}
		}

		@media (max-width: 600px /* min-screen */) {
			flex-direction: column;

			li {
				margin-bottom: 1em;
				a {
					img {
						height: 20em;
						width: 20em;
					}

					.hover-text {
						height: 20em;
						width: 20em;
						line-height: 20em;
					}
				}
			}
		}
	}
</style>
