---
import { PageLayout } from "bikedisco-theme:layouts";

const title = "Gallery /?/ Seattle Bike Disco";
const description = "Photos and maps of past SBD rides.";
const ogtype = "website";
const body_class = "gallery";

const visible = false;
---

<PageLayout title={title} description={description} body_class={body_class}>

	{visible
	? <div class="collage">
		{galleries.map((gallery) => (
			<a href={gallery.url}><img src={gallery.cover} title={gallery.title} /></a>
		))}
	</div>
	: <p>
		Coming Soon!
	</p>}

</PageLayout>

<style>
	.collage {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0.5em;

		& > * {
			margin: 0.5em;
			width: 100%;
		}

		img {
			background-color: #6661;
			height: auto;
			width: 100%;
		}
	}
	@media (min-width: 600px /* min-screen */) {
		& > * {
			width: unset;
		}

		img {
			height: min(3in, 25vw);
			max-width: 100%;
			min-width: 100%;
			width: auto;
		}

		&.cover {
			& > * {
				flex-grow: 1;
			}

			img {
				object-fit: cover;
				object-position: 50% 66%;
			}
		}
	}
</style>
