---
import { PageLayout } from "bikedisco-theme:layouts";

import { Image } from "astro:assets";
import { BikeDisco } from "bikedisco-theme:assets";

// import { Rides } from "bikedisco-theme:components";

const title = "Seattle Bike Disco";
const description = "Seattle Bike Disco: inclusive, friendly, and zany; no-drop non-stop dance party on wheels!!";

import SBD2024August from "../assets/SBD_2024_August.png";
import SBD2024July from "../assets/SBD_2024_July.png";
import SBD2024June from "../assets/SBD_2024_June.png";

const upcomingRides = [
	{
		number: "45",
		date: "2024-06-14",
		url: "https://everydayrides.com/events/6629468e9155bab93ba0e42e",
		image: SBD2024June,
		ridden: true,
	},
	{
		number: "46",
		date: "2024-07-19",
		url: "https://everydayrides.com/events/662946aacd7cb1b93b2a6673",
		image: SBD2024July,
		ridden: true,
	},
	{
		number: "47",
		date: "2024-08-16",
		url: "https://everydayrides.com/events/662946c3cfbe52b93bb95060",
		image: SBD2024August,
		ridden: false,
	},
];

// TODO get ridden to auto apply (maybe with client js)
//const today = new Date().toISOString().split('T')[0];
---

<PageLayout title={title} description={description}>

	<section>
		<h1>Welcome to the Seattle Bike Disco!</h1>
		<Image class="home-logo" alt="Seattle Bike Disco" src={BikeDisco} />
	</section>

	<section class="disco-description">
		<p>Love to ride bicycles‽ Love to dance‽</p>
		<p>Inclusive, friendly, and zany; no-drop non-stop dance party on wheels!!</p>
		<p>We meet monthly, <em>rain or shine</em>, to cycle from place to place, stopping to dance the night away around different parts of Seattle.</p>
		<p>Costumes are encouraged (but not required), as are helmet/bike decorations, lights, and music. Please feel welcome to show up as you are!</p>
		<p>A route, with approximate dance and refreshment stops, where riders can catch up, will be posted the week of.</p>
		<p>Gather at 7pm<br />Ride at 7:30pm</p>
		<p>All varieties of bikes, genders, and riders welcome!</p>
	</section>

	<section>
		<h2>Event pages for this quarter's rides linked below:</h2>
		<!-- <Rides count=3, order="desc", rides=upcomingRides /> -->
		<ul class="upcoming-rides">
			{upcomingRides.map((ride) => (
				<li class={ride.ridden ? `ridden` : ""}>
					<a href={ride.url} target="_blank">
						<Image src={ride.image} alt={`Seattle Bike Disco ${ride.number} is on ${ride.date}`} title={`Seattle Bike Disco ${ride.number} is on ${ride.date}`} />
						<p class="hover-text">{ride.date}</p>
					</a>
				</li>
			))}
		</ul>
	</section>

</PageLayout>

<style>
	ul.upcoming-rides {
		display: flex;

		list-style: none;
		padding: 0;

		li {
			margin-left: 1em;
			margin-right: 1em;
			position: relative;

			&.ridden {
				filter: opacity(30%);
			}
			&:last-child {
			}

			a {
				img {
					height: 10em;
					width: 10em;
				}

				&:active {
					color: #fff;
				}

				.hover-text {
					height: 10em;
					width: 10em;
					position: absolute;
					top: 0;
					left: 0;
					background: #000;
					opacity: 0;
					margin: 0;
					padding: 0;
					line-height: 10em;
					text-align: center;
					color: var(--light-text);
					font-weight: bold;
				}
				&:hover .hover-text {
					opacity: 80%;
				}
			}
		}

		@media (max-width: 600px /* min-screen */) {
			flex-direction: column;

			li {
				margin-bottom: 1em;
				a {
					img {
						height: 20em;
						width: 20em;
					}

					.hover-text {
						height: 20em;
						width: 20em;
						line-height: 20em;
					}
				}
			}
		}
	}
</style>
