body {
	display: flex;
	flex-direction: column;
	align-items: safe center;
	min-height: 100vh;
}

/* Content /?/ Layout */

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	max-width: 45em;
	padding-left: 1em;
	padding-right: 1em;

	section {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
	}

	section.disco-description {
		max-width: 25em;
	}

	img.home-logo {
		height: 25em;
		width: 25em;
	}

	pre {
		padding: 1rem;
	}
}
