:root {
	--body-background: #444;
	--page-background: #fdfdfd;
	--contrast: 25%;
	--minimal-contrast: 6%;
	--header-compensation: 4%;
	--body-color: #3f3f3f; /* darken(--page-background, --contrast * 3); */
	--light-text: #888;
	--dark-text: #333;

	--base-font-size: 16px;
	--base-line-height: 1.333rem;

	--bd-darkyellow: #f4ce00;
	--bd-lightyellow: #f6d937;

	--bd-darkorange: #ff3e00;
	--bd-lightorange: #ff6837;

	--bd-darkpink: #ee2a7b;
	--bd-lightpink: #f15897;

	--bd-darkpurple: #5924b2;
	--bd-lightpurple: #8862c7;

	--bd-darkteal: #00a79d;
	--bd-lightteal: #37bab2;

	--bd-darkblue: #2a84ff;
	--bd-lightblue: #589fff;
}
