---
import { PageLayout } from "bikedisco-theme:layouts";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const pageEntries = await getCollection("pages");
	return pageEntries.map((page) => ({
		params: { slug: page.slug },
		props: { page },
	}));
}
const { page } = Astro.props;
const { Content } = await render(page);

const frontmatter = page.data;
---

<PageLayout frontmatter={frontmatter}>
	<Content />
</PageLayout>
