---
import { PageLayout } from "bikedisco-theme:layouts";

import { Image } from "astro:assets";
import { BikeDisco } from "bikedisco-theme:assets";

import config from "bikedisco-theme:config";
---

<PageLayout>
	<h1>{config.title}</h1>
	<p>{config.description}</p>
	<div class="houston">
		<Image src={BikeDisco} alt="" />
	</div>
</PageLayout>

<style>
	.houston {
		animation: hithere 8s ease-in-out infinite;
	}

	@keyframes hithere {
		0% {
			transform: rotate(-5deg) scale(1);
		}
		15% {
			transform: rotate(-5deg) scale(1);
		}
		20% {
			transform: rotate(10deg) scale(1.15);
		}
		25% {
			transform: rotate(-20deg) scale(1.15);
		}
		30% {
			transform: rotate(10deg) scale(1.15);
		}
		35% {
			transform: rotate(-20deg) scale(1.15);
		}
		40% {
			transform: rotate(-5deg) scale(1);
		}
		100% {
			transform: rotate(-5deg) scale(1);
		}
	}
</style>
